.login {
  max-width: 25rem;
  padding-top: 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    font-size: 1.875rem;
  }

  &__form {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
