.popup {
  position: fixed;
  z-index: 30;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.75);

  @media screen and (max-width: 53.5rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__content {
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    border-radius: 1.5rem;
    min-width: 18rem;
    width: 100%;
    max-width: 40rem;
    padding: 1.5rem;
    position: relative;
    text-align: center;
  }

  &__close {
    position: absolute;
    padding: 0;
    border: 0;
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    right: -2rem;
    top: -2.5rem;
    transition: all 0.35s linear;

    @media screen and (max-width: 53.5rem) {
      right: 0;
      top: -3rem;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease;
  }

  &-enter-from,
  &-leave-to {
    transition: opacity 0.5s ease;
    opacity: 0;
  }
}
